h1 Bienvenue sur L'application SemSearch.

p.status
    | Taper une question dans la barre ci-dessus

h2 Examples de requêtes
ul.samples
    - text = "Qui ai-je appele en mars ?"
    li: a(href="#search/" + encodeURIComponent(text))= '"' + text + '"'

    - text = "appels recu de Germaine ?"
    li: a(href="#search/" + encodeURIComponent(text))= '"' + text + '"'

    - text = "mes courses d'octobre 2013 ?"
    li: a(href="#search/" + encodeURIComponent(text))= '"' + text + '"'

    - text = "mes appels a paris ?"
    li: a(href="#search/" + encodeURIComponent(text))= '"' + text + '"'

    - text = "sms envoyes a pierre ?"
    li: a(href="#search/" + encodeURIComponent(text))= '"' + text + '"'

    - text = "virement recu de pierre ?"
    li: a(href="#search/" + encodeURIComponent(text))= '"' + text + '"'

    - text = "series regarde la semaine derniere ?"
    li: a(href="#search/" + encodeURIComponent(text))= '"' + text + '"'
