!!! 5
html(lang='en', ng-app='app')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name='viewport', content='width=device-width', initial-scale='1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title(ng-bind-template='{{pageTitle}}')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor.js')
    script(src='/js/partials.js')
    script(src='/js/app.js')
  body(ng-controller='AppCtrl')

    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#") SemSearch

        .navbar-collapse.collapse
          form.navbar-form.navbar-left(role="search")
            input.input-large.form-control(type="text", placeholder="Rechercher")
            button.btn.btn-default(type="submit") Rechercher

    .container

    footer.footer.navbar-fixed-bottom
      .container
        .text-muted by PaK
